.container {
  width: 100%;
}

.profiles {
  width: 90%;
  margin: 40px auto;
  display: flex;
  justify-content: space-evenly;
}

.profile {
  width: 30%;
}

.profileImage {
  width: 70%;
  margin: auto;
  position: relative;
}

.displaced {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  background-color: #999;
}

.description {
  width: 70%;
}

.description > button {
  font-size: 12px;
}
