.container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  background-color: var(--main-color);
}

.colContainer {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-evenly;
}

.col {
  text-align: left;
  width: 25%;
}

.col > h3 {
  text-align: left;
  color: var(--second-color);
}

.item {
  margin: 10px 0;
}

.teleLine {
  display: flex;
  align-items: center;
}

.teleLine > div {
  margin-left: 10px;
}

.social {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1025px) {
  .colContainer {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .social {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .colContainer {
    flex-direction: column;
  }
  .col {
    width: 96%;
    margin: auto;
  }
  .social {
    justify-content: flex-start;
  }
  .social > a {
    margin: 0 10px;
  }
}
